body,html{
    width: 100%;
    height: 100%;
    
    background-color: dodgerblue;
}

.container{
    width: 400px;
    height: 100%;
    display: table;
}

.sign-in{
    vertical-align: middle;
    display: table-cell;
}

.box{
    border:dotted thin red;
}

h1{
    color: white;
    
}