<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    h1 {
      text-align: center;
      font-family: 'Roboto', 'Segoe UI', sans-serif;
    }
  </style>
</head>

<body>
  <h1>Payment methods</h1>
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="<?= $paypal['cmd'] ?>">
    <input type="hidden" name="business" value="<?= $paypal['business'] ?>">
    <input type="hidden" name="upload" value="<?= $paypal['upload'] ?>">

    <input type="hidden" name="item_name_1" value="<?= $paypal['item_name_1'] ?>">
    <input type="hidden" name="item_number_1" value="<?= $paypal['item_number_1'] ?>">
    <input type="hidden" name="amount_1" value="<?= $paypal['amount_1'] ?>">
    <input type="hidden" name="quantity_1" value="<?= $paypal['quantity_1'] ?>">
    <input type="hidden" name="currency_code" value="<?= $paypal['currency_code'] ?>">
    <input type="hidden" name="return" value="<?= $paypal['return'] ?>">
    <input type="hidden" name="notify_url" value="<?= $paypal['notify_url'] ?>">
    <input type="hidden" name="cancel_return" value="<?= $paypal['cancel_return'] ?>">

    <input style="display:block;margin:auto;max-width:100%" type="image" id="payment" name="submit_paypal" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/blue-pill-paypalcheckout-44px.png" alt="PayPal Checkout" alt="PayPal - The safer, easier way to pay online">
  </form>

</body>

</html>